extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block content
  +alert-error("5000")
  +alert-success("5000")
  
  h2.text-center.mb-4 Chỉnh Sửa Sản Phẩm

  form(action=`${prefixAdmin}/products/edit/${product._id}?_method=Patch` method="POST" class="container p-4 border rounded shadow-sm" enctype="multipart/form-data")
    .mb-3
      label.form-label(for="title") Tiêu đề sản phẩm:
      input.form-control(type="text" name="title" required placeholder="Nhập tiêu đề sản phẩm" value=product.title)
    .mb-3
      label.form-label(for="product__category_id") Chọn danh mục cha
      select.form-select(name="product__category_id", id="product__category_id")
        option(value="") -- Chọn danh mục cha --
        if categories
          +select-tree(categories,1,product.product__category_id)
    .mb-3
      div
        input.form-check-input(type="radio" id="featured1" name="featured" value="1" checked=(product.featured == "1"))
        label.form-check-label(for="featured1") Nổi bật

        input.form-check-input(type="radio" id="featured2" name="featured" value="0" checked=(product.featured == "0"))
        label.form-check-label(for="featured2") Không

    .mb-3
      label.form-label(for="price") Giá sản phẩm:
      input.form-control(type="number" name="price" required min="0" step="0.01" placeholder="Nhập giá" value=product.price)

    .mb-3
      div(class="form-group" upload-image)
        label.form-label(for="thumbnail") Ảnh sản phẩm (URL):
        input.form-control(type="file" name="thumbnail" accept="image/*" upload-image-input)
        img(src=product.thumbnail, alt="Ảnh sản phẩm" upload-image-preview style="width: 150px; margin-top: 10px;")
        button.btn.btn-danger.mt-2(type="button" upload-image-remove) Xóa ảnh

    .mb-3
      label.form-label(for="status") Trạng thái:
      div
        input.form-check-input(type="radio" id="status1" name="status" value="Active" checked=product.status == 'Active')
        label.form-check-label(for="status1") Active

        input.form-check-input(type="radio" id="status2" name="status" value="Inactive" checked=product.status == 'Inactive')
        label.form-check-label(for="status2") Inactive

    .mb-3
      label.form-label(for="position") Vị trí:
      input.form-control(type="number" name="position" placeholder="Tự động tăng" value=product.position)

    .d-flex.justify-content-end
      button.btn.btn-primary(type="submit") Lưu thay đổi
