extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block content
  +alert-success("5000")

  .d-flex.justify-content-between.align-items-center.mb-4
    h3 Danh Sách Sản Phẩm
    a.btn.btn-primary(href=`${prefixAdmin}/products/create`)
      i.bi.bi-plus-circle.me-1
      | Thêm Sản Phẩm


  // ✅ Form Sap Xep
  .row.g-3
    .col-md-3
      +sort()

  // ✅ Bộ Lọc và Thanh Tìm Kiếm
  form.d-flex.gap-2.mb-4.form-search(method="GET", action=`#{prefixAdmin}/products`)
    input.form-control.input-search(type="text", name="search", value=search, placeholder="Tìm kiếm sản phẩm...")
    button.btn.btn-primary Search

  form(action=`${prefixAdmin}/products/change-multi?_method=PATCH` form-change-multi method="POST")
    input#input-values(type="hidden" name="ids" value="")
    .d-flex.gap-2
      select#select-status.form-select(name="type" required)
        option(disabled selected) --Chọn hành động--
        option(value="Active") Active
        option(value="Inactive") Inactive
        option(value="change-position") Thay đổi vị trí
        option(value="deleteAll") Xóa tất cả
      button#btn-all.btn.btn-primary(type="submit")
        | Thay Đổi Trạng Thái

  table.table.table-striped.table-hover.align-middle(checkbox-multi)
    thead.table-dark
      tr
        th
          input#check-all(type="checkbox")
        th STT
        th Ảnh
        th Tên Sản Phẩm
        th Giá
        th Vị trí
        th Trạng Thái
        th Người tạo 
        th Hành Động

    tbody
      each product, index in products
        tr
          td
            input.checkbox-item(type="checkbox" value=product._id)
          td #{pagination.limitItem*(pagination.currentPage-1)+(index + 1)}
          td
            img(src=product.thumbnail, alt=product.title, class="img-thumbnail", style="width: 80px; height: 80px; object-fit: cover; border-radius: 8px;")
          td #{product.title}
          td #{product.price} VNĐ
          td
            input(type="number" value=product.position min="1" name="position")
          td
            if product.status === 'Active'
              a(href=`javascript:`, class="badge bg-success text-decoration-none" btn-change-status data-status=product.status data-id =product._id)
                | Active
            else
              a(href=`javascript:`, class="badge bg-danger text-decoration-none" btn-change-status data-status=product.status data-id =product._id)
                | Inactive
          td 
            p #{product.accountFullName }
            if(product.createdAt)
              p #{product.createdAt.toLocaleString('vi-VN')}
          
          td
            div.d-flex.gap-2
              a.btn.btn-primary.btn-sm(href=`${prefixAdmin}/products/detail/${product._id}`)
                i.bi.bi-pencil-square.me-1
                | View
              a.btn.btn-warning.btn-sm(href=`${prefixAdmin}/products/edit/${product._id}`)
                i.bi.bi-pencil-square.me-1
                | Sửa
              button.btn.btn-danger.btn-sm(type="submit" data-id=product._id button-delete)
                i.bi.bi-trash.me-1
                | Xóa

  nav(aria-label='Page navigation example')
    ul.pagination
      if(pagination.currentPage>1)
        li.page-item
          button.page-link(button-pagination=pagination.currentPage-1) Previous
      - for(let i = 1 ; i <= pagination.totalPage; i++)
        li(class=`page-item ${pagination.currentPage === i ? "active" : ""}`)
          button.page-link(button-pagination = i) #{i}
      if(pagination.currentPage<pagination.totalPage)
        li.page-item
          button.page-link(button-pagination=pagination.currentPage+1) Next

  form(action="" method="POST" id='form-change-status' data-path=`${prefixAdmin}/products/change-status`)
  form#form-delete-item-products(method="POST" action=`` data-path=`${prefixAdmin}/products/delete`)
  script(src="/admin/js/products.js")