extends ../../layout/default.pug
include ../../mixins/alert.pug

block content
  +alert-error("5000")
  +alert-success("5000")

  h2.text-center.mb-4 Cập nhật Account

  form(method="POST" action=`${prefixAdmin}/accounts/edit/${account._id}?_method=Patch`)
    .mb-3
      label.form-label(for="fullName") Họ tên
      input.form-control(type="text", name="fullName", id="fullName", required, value=account.fullName)

    .mb-3
      label.form-label(for="email") Email
      input.form-control(type="email", name="email", id="email", required, value=account.email)
    .mb-3
      label.form-label(for="password") Mật khẩu :
      input.form-control(name="password" rows="3")
    .mb-3
      label.form-label(for="phone") Số điện thoại
      input.form-control(type="text", name="phone", id="phone", value=account.phone)

    .mb-3
      label.form-label Quyền
      select.form-select(name="role_id")
        each role in roles
          option(value=role._id selected=(role._id.toString() === account.role_id.toString()) ) #{role.title}

    .mb-3
      label.form-label Trạng thái
      div
        label.me-3
          input(type="radio", name="status", value="active", checked=account.status === 'active')
          | Active
        label
          input(type="radio", name="status", value="inactive", checked=account.status === 'inactive')
          | InActive

    button.btn.btn-success(type="submit") Cập nhật
    a.btn.btn-secondary.ms-2(href=`${prefixAdmin}/accounts`) Quay lại
